<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="over">
    <mat-toolbar class="border-bottom bg-dark text-white">
      <img src="/assets/images/logo.svg" class="mx-2 logo-img">
      KeyNinja
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>Customers</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar sticky-top navbar-expand-lg bg-dark text-white">
      <button class="btn mr-2 text-white" type="button" mat-icon-button (click)="drawer.toggle()">
        <i class="fas fa-bars fa-lg"></i>
      </button>
      <a class="navbar-brand">
        <img src="/assets/images/logo.svg" class="logo-img">
        KeyNinja
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ngbDropdown>
              <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
              <i class="far fa-user-circle fa-lg"></i> {{user?.email}}
            </button>
            <div ngbDropdownMenu >
                <button class="btn btn-link btn-sm" ngbDropdownItem (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Sign out</button>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>